*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testo.verde{
  color: green;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  padding: 5px;
}
.testo.rosso{
  color: red;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  padding: 5px;
}

canvas {
display: block;
position:absolute;
top:0;
left:0;
}
